.container{
  height: 100vh;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.key-container, 
.interval{
  width: 30%;
  height: 200px;
  background-color: aqua;
  border: 1px solid black;
}

